<div class="container d-flex justify-content-center align-items-center h-100 w-100">
  <div class="card d-flex flex-column p-5 shadow">
    <h1>Habit Tracker</h1>
    <form [formGroup]="passwordForm"
          class="d-flex flex-column">
      <label>New Password</label>
      <input type="text"
             class="form-control"
             formControlName="newPassword" />
      <label>Confirm Password</label>
      <input type="password"
             class="form-control"
             formControlName="confirmPassword" />
      <button type="submit"
              class="btnPrimary shadow mt-2">
        Submit
      </button>
      <button type="submit"
              class="btnSecondary shadow mt-2"
              (click)="onBack()">
        Cancel
      </button>
    </form>
  </div>

</div>
